.vidage {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;

  &::before {
    content: "";
    background: {
      image: $vdg-fallback-image;
      position: center center;
      repeat: no-repeat;
      size: cover;
    }
    @extend %vdg-background-size;
  }

  &::after {
    content: "";
    @extend %vdg-background-size;
  }

  &-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    pointer-events: none;

    @supports not (object-fit: cover) {
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
}
