body {
  color: #FFF;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif
}

.intro {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 120px;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column
}

.container {
  padding-left: 1.2875rem;
  padding-right: 1.2875rem;
  margin-left: auto;
  margin-right: auto
}

@media (min-width:576px) {
  .container {
    width: 544px
  }
}

@media (min-width:768px) {
  .container {
    width: 720px
  }
}

@media (min-width:992px) {
  .container {
    width: 940px
  }
}

@media (min-width:1200px) {
  .container {
    width: 1140px
  }
}

.title,
.description {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both
}

.title {
  font-size: 5rem;
  font-weight: 300;
  margin: 0 auto;
  color: rgba(220, 170, 200, .7);
  background: -webkit-linear-gradient(rgba(220, 170, 200, .7), rgba(255, 255, 255, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 30px rgba(10, 10, 10, .3);
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn
}

.description {
  font-weight: 100;
  font-size: 1rem;
  opacity: .5;
  text-transform: uppercase;
  -webkit-animation-name: zoomInDown;
          animation-name: zoomInDown
}

.octocat svg {
  position: absolute;
  top: 0;
  right: 0;
  fill: rgba(255, 255, 255, .7);
  color: #353a43;
  border: 0
}

.octocat:hover .octocat-arm {
  -webkit-animation: octocat-wave 560ms ease-in-out;
          animation: octocat-wave 560ms ease-in-out
}

@media (max-width:34em) {
  .octocat:hover .octocat-arm {
    -webkit-animation: none;
            animation: none
  }
}

@-webkit-keyframes octocat-wave {
  0%,
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0)
  }
  20%,
  60% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg)
  }
  40%,
  80% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg)
  }
}

@keyframes octocat-wave {
  0%,
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0)
  }
  20%,
  60% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg)
  }
  40%,
  80% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg)
  }
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
            transform: scale3d(.3, .3, .3)
  }
  50% {
    opacity: 1
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
            transform: scale3d(.3, .3, .3)
  }
  50% {
    opacity: 1
  }
}

@-webkit-keyframes zoomInDown {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
            transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(.55, .055, .675, .19);
            animation-timing-function: cubic-bezier(.55, .055, .675, .19)
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
            transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(.175, .885, .32, 1);
            animation-timing-function: cubic-bezier(.175, .885, .32, 1)
  }
}

@keyframes zoomInDown {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
            transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(.55, .055, .675, .19);
            animation-timing-function: cubic-bezier(.55, .055, .675, .19)
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
            transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(.175, .885, .32, 1);
            animation-timing-function: cubic-bezier(.175, .885, .32, 1)
  }
}
