@import 'demo/components/Normalize';

html {
    font-size: 12px;

    @media (min-width: 768px) {
        font-size: 14px;
    }
}

body {
    color: #FFF;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.Intro {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    height: calc(100vh - 5rem);
    flex-direction: column;
}

.Container {
    padding-left: 1.2875rem;
    padding-right: 1.2875rem;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 576px) {
        width: 544px;
    }

    @media (min-width: 768px) {
        width: 720px;
    }

    @media (min-width: 992px) {
        width: 940px;
    }

    @media (min-width: 1200px) {
        width: 1140px;
    }
}

.Title {
    font-size: 5rem;
    font-weight: 300;
    margin: 0 auto;
    color: rgba(220, 170, 200, .7);
    background: -webkit-linear-gradient(rgba(220, 170, 200, .7), rgba(255, 255, 255, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 30px rgba(10, 10, 10, .3);
    animation-name: zoomIn;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.Description {
    font-weight: 100;
    font-size: 1rem;
    opacity: .5;
    text-transform: uppercase;
    animation-name: zoomInDown;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.Sponsors {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 5rem;

    &__head {
        font-size: 0.8rem;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
        opacity: .2;
    }

    &__body {
        a {
            opacity: .6;
            transition: opacity 0.3s linear;
        }

        a:hover {
            opacity: 1;
        }

        img {
            width: 2.5rem;
            height: 2.5rem;
        }
    }
}

.Octocat {
    svg {
        position: absolute;
        top: 0;
        right: 0;
        fill: rgba(255, 255, 255, .7);
        color: #353a43;
        border: 0;
    }

    &:hover .Octocat__arm {
        animation: octocat-wave 560ms ease-in-out;

        @media (max-width: 34em) {
            animation: none;
        }
    }
}

@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0);
    }

    20%, 60% {
        transform: rotate(-25deg);
    }

    40%, 80% {
        transform: rotate(10deg);
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

@keyframes zoomInDown {
    from {
        opacity: 0;
        transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    60% {
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}
